<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <title th:text="${title}">Title</title>
</head>
<body>
    <h1 th:text="${title}">Default title</h1>
    <h2>Click the button below to get your test</h2>
    <h3>The test will have 10 grid questions and 2 problems</h3>
<form method="post" >
    <input type="submit" class="subm" value="Get Questions" th:href="@{/generate/test}"/>
</form>
</body>
</html>