<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1>This is your test</h1>
<form class="formular" method="post">


    <p th:each="question1:${questions1}" th:text="${question1.question_text}" name="question1"></p>
    <ul>

        <li th:each="answear1 : ${questions1.answears}">
            <input  name="question" th:value="${answear1.id}" type="checkbox"/>
            <label th:text="${answear1.answear_text}">  </label>
        </li>
    </ul>

    <p th:each="question2:${questions2}" th:text="${question2.question_text}"></p>
    <ul>

        <li th:each="answear2 : ${questions2.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear2.id}" type="checkbox"/>
            <label th:text="${answear2.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question3:${questions3}" th:text="${question3.question_text}"></p>
    <ul>

        <li th:each="answear3 : ${questions3.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear3.id}" type="checkbox"/>
            <label th:text="${answear3.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question4:${questions4}" th:text="${question4.question_text}"></p>
    <ul>

        <li th:each="answear4 : ${questions4.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear4.id}" type="checkbox"/>
            <label th:text="${answear4.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question5:${questions5}" th:text="${question5.question_text}"></p>
    <ul>

        <li th:each="answear5 : ${questions5.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear5.id}" type="checkbox"/>
            <label th:text="${answear5.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question6:${questions6}" th:text="${question6.question_text}"></p>
    <ul>

        <li th:each="answear6 : ${questions6.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear6.id}" type="checkbox"/>
            <label th:text="${answear6.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question7:${questions7}" th:text="${question7.question_text}"></p>
    <ul>

        <li th:each="answear7 : ${questions7.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear7.id}" type="checkbox"/>
            <label th:text="${answear7.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question8:${questions8}" th:text="${question8.question_text}"></p>
    <ul>

        <li th:each="answear8 : ${questions8.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear8.id}" type="checkbox"/>
            <label th:text="${answear8.answear_text}">  </label>
        </li>
    </ul>

    <p th:each="question9:${questions9}" th:text="${question9.question_text}"></p>
    <ul>

        <li th:each="answear9 : ${questions9.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear9.id}" type="checkbox"/>
            <label th:text="${answear9.answear_text}">  </label>
        </li>
    </ul>
    <p th:each="question10:${questions10}" th:text="${question10.question_text}"></p>
    <ul>

        <li th:each="answear10 : ${questions10.answears}">
            <!--/*@thymesVar id="answear" type=""*/-->
            <input name="question" th:value="${answear10.id}" type="checkbox"/>
            <label th:text="${answear10.answear_text}">  </label>
        </li>
    </ul>
    <p th:text="${problema1}"></p>
    <!--/*@thymesVar id="id" type=""*/-->
    <input class="problem_input" name="question"  type="text"/>

    <p th:text="${problema2}"></p>
    <input class="problem_input" name="question"  type="text"/>
<br>
    <input class="subm" type="submit"  name="Submit your answears" value="Submit your answears"/>
</form>
</body>
</html>